@font-face {
    font-family: "Pokemon Hollow";
    font-style: normal;
    font-weight: normal;
    src: local("Pokemon Hollow"), url("Pokemon Hollow.ttf");
}

h1 {
    font-family: "Pokemon Hollow";
    font-weight: 200;
    color: yellow;
    fill: white;
}
